@import "http://fonts.googleapis.com/css?family=Raleway:200";

body {
    font-family: raleway, sans-serif;
    font-weight:200
}

.main-title {
    padding-top: 20px;
}

span {
    font-size: 20px;
}

a {
    color: #337ab7;
}

a:hover {
    text-decoration: none;
}
